<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Projects Page</title>
</head>
<body>
  {{> header}}
  <h1>{{screamIt welcomeMessage }}</h1>
  <p>Portfolio Page</h1>
  {{> footer}}
</body>
</html>
